# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# TypeScript
*.tsbuildinfo

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/

# Swagger editor temp files (si usas alguno)
*.swagger.json~

# Optional: testing / coverage
coverage/
.vercel